body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
}

button {
  margin-top: 80px;
  margin: 2px;
}

table.table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.table td,
.table th {
  text-align: center;
}

header {
  margin-bottom: 20px;
}
